body {
    background-color: #151515;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

html {
    font-family: 'Playfair Display', serif;
}

body {
    font-family: Helvetica, sans-serif;
    padding: 5%;
    text-align: center;
    font-size: 50;
}

/* Styling the area of the slides */
#container {
    overflow: hidden;
    width: 100%;
    height: 375px;
    margin-bottom: 3rem;
    margin-top: 3rem;
    margin: auto;
}

.container > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }

.wrapper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.wrapper>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.slide {
    float: left;
    width: 550px;
    height: 375px;
    margin-left: 100px;
}

.slide:last-child {
    /* margin-bottom: 48px; */
}

/* Define the animation
    for the slideshow */
@keyframes slide {

    /* Calculate the margin-left for
        each of the slides */
    20% {
        margin-left: 0px
    }

    80% {
        margin-left: calc(-550px);
    }
}

div#odv {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    color: whitesmoke;
    margin-bottom: 24px;
}

h3:hover {
    color: #52bc7e;
    cursor: default;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

#novo {
    margin-bottom: 0px;
    margin-top: 30px;
    margin-left: 20px;
    padding: 2px;
    bottom: 1%;
    position: absolute;
}

.site {
    color: whitesmoke;
    text-align: start;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    /* font: menu; */
}

.site:hover {
    color: #52bc7e;
    /* text-decoration: underline; */
}

h2 {
    text-align: center;
    margin: 12px;
    width: 36%;
    padding: 10px;
    border: 2px solid rgb(48, 116, 66);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-bottom: 0;
    filter: brightness(0.8) drop-shadow(2px 4px 6px black);
    border-radius: 20px;
}

#logo:hover {
    filter: none;
}

#logo:hover::before {
    box-shadow: inset 2px 4px 6px black;
    content: '';
    display: block;
    width: 10%;
    aspect-ratio: 1 / 1;
    position: absolute;
    border-radius: 20px;
}

img {
    width: 100%;
    border-radius: 20px;
    display: block;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .btn {
        width: 90% !important;
        font-size: 18px !important;
    }

    .from-left:before,
    .from-left:after {
        height: 104%;
    }

    #logo {
        width: 30%;
    }

    #logo:hover::before {
        width: 30%;
    }

    #novo {
        text-align: center;
        width: 90%;
    }
}