body {
    background-color: #151515;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

html {
    font-family: 'Playfair Display', serif;
}

body {
    font-family: Helvetica, sans-serif;
    padding: 5%;
    text-align: center;
    font-size: 50;
}

/* Styling the area of the slides */
#container {
    overflow: hidden;
    width: 550px;
    height: 375px;
    margin-bottom: 3rem;
	margin-top: 3rem;
}
/* Add animation to the slides */
.wrapper {
    /* Calculate the total width on the
    basis of number of slides */
    width: calc(550px * 2);
    /* Specify the animation with the
    duration and speed */
    animation: slide 10s ease infinite;
}
.botao {
	float: left;
	width: 550px;
	height: 375px;
}
.botao:last-child {
	margin-bottom: 48px;
}
/* Define the animation
    for the slideshow */
@keyframes botao {
    /* Calculate the margin-left for
        each of the slides */
    20% {
        margin-left: 0px;
    }
    60% {
        margin-left: calc(-550px * 1);
    }
    80% {
        margin-left: calc(-550px * 2);
    }
}

div#odv {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    color: whitesmoke;
    margin-bottom: 24px;
}

h3:hover {
    color: #52bc7e;
    cursor: default;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

#novo {
    margin-bottom: 0px;
    margin-top: 30px;
    margin-left: 20px;
    padding: 2px;
    bottom: 1%;
    position: absolute;
}

.site {
    color: whitesmoke;
    text-align: start;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    /* font: menu; */
}

.site:hover {
    color: #52bc7e;
    /* text-decoration: underline; */
}

h2 {
    text-align: center;
    margin: 12px;
    width: 36%;
    padding: 10px;
    border: 2px solid rgb(48, 116, 66);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-bottom: 0;
    filter: brightness(0.8) drop-shadow(2px 4px 6px black);
    border-radius: 20px;
}

#logo:hover {
    filter: none;
}

#logo:hover::before {
    box-shadow: inset 2px 4px 6px black;
    content: '';
    display: block;
    width: 10%;
    aspect-ratio: 1 / 1;
    position: absolute;
    border-radius: 20px;
}

img {
    width: 100%;
    border-radius: 20px;
    display: block;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .btn {
        width: 90% !important;
        font-size: 18px !important;
    }

    .from-left:before,
    .from-left:after {
        height: 104%;
    }

    #logo {
        width: 30%;
    }

    #logo:hover::before {
        width: 30%;
    }

    #novo {
        text-align: center;
        width: 90%;
    }
}